.wwi_prdcts_imgsize {
  height: 75%;
  width: 75%;
}

.wwi_prdcts_imgsize_small {
  width: 10vw;
  height: 10vh;
}

.wwi_prdcts_imgcenter {
  text-align: center;
  width: 100%;
}

.wwi_prdcts_card {
  margin-top: 2rem;
}

.wwi_float_left {
}

